%h2 My Amazing Bucket List

#map-canvas


%ul#destinations
  - @destinations.each do |destination|
    = render :partial => 'destinations/destination', :locals => { :destination => destination, :activities => @activities.select{|a| a.destination }}

#add-destination
  = form_for @destination, :remote => true do |f|
    %fieldset
      = f.label :name
      = f.text_field :name

    %fieldset
      = f.label :image_url, "Image URL"
      = f.text_field :image_url

    = f.submit "Add Destination", :id => "add-destination-button"