%h2 My Amazing Bucket List

#map-canvas
%script(type="text/javascript")
  $(document).ready(function(){
  map = new BucketListMap(52.1512817, -0.3153073,4);
  map.drawMap('mapCanvas');
  var LatLngArray = #{raw @lat_lng_nam};
  for (i = 0; i < LatLngArray.length; i++) {
  return map.addMarker(parseFloat(LatLngArray[i][0]), parseFloat(LatLngArray[i][1]), LatLngArray[i][2]);
  };
  });

  //This approach works only for the first marker
  //For some reason the loop doesn't work
  // However, I will try to use the different approach with data attributes.

%ul#destinations
  - @destinations.each do |destination|
    = render :partial => 'destinations/destination', :locals => { :destination => destination, :activities => @activities.select{|a| a.destination }}

#add-destination
  = form_for @destination, :remote => true do |f|
    %fieldset
      = f.label :name
      = f.text_field :name

    %fieldset
      = f.label :image_url, "Image URL"
      = f.text_field :image_url

    = f.submit "Add Destination", :id => "add-destination-button"