%h2 My Amazing Bucket List

#map-canvas{:data => {:activities => @activities_objects,:traveller_id => current_traveller.id}}

  //This approach works only for the first marker
  //For some reason the loop doesn't work
  // However, I will try to use the different approach with data attributes.

%ul#destinations
  - @destinations.each do |destination|
    = render :partial => 'destinations/destination', :locals => { :destination => destination, :activities => @activities.select{|a| a.destination }}

#add-destination
  = form_for @destination, :remote => true do |f|
    %fieldset
      = f.label :name
      = f.text_field :name

    %fieldset
      = f.label :image_url, "Image URL"
      = f.text_field :image_url

    = f.submit "Add Destination", :id => "add-destination-button"