%h2 My Amazing Bucket List

#map-canvas{:data => {:activities => @activities_objects,:traveller_id => current_traveller.id}}

= form_tag activities_order_bucket_list_path, :id => 'order-by', :method=>:get, :remote => true do
  %fieldset
    = label_tag "Order by:"
    = select_tag "order", options_for_select([ "Priority", "Name", "Most Recently Added" ], "Priority")
    = submit_tag "Order"

%ul#destinations
  - @destinations.each do |destination|
    = render :partial => 'destinations/destination', :locals => { :destination => destination, :activities => destination.activities.order(:priority)}

#add-destination
  = form_for @destination, :remote => true do |f|
    %fieldset
      = f.label :name
      = f.text_field :name

    %fieldset
      = f.label :image_url, "Image URL"
      = f.text_field :image_url

    = f.submit "Add Destination", :id => "add-destination-button"
