<!DOCTYPE html>
<html>
<head>
  <title>BucketList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm8O7O8Znab1MSQNbtG3tVaJ-odZkI1D4">
    </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="flash">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  <header>
    <%= link_to 'Sign up', new_traveller_registration_path %>
  </header>

<%= yield %>

</body>
</html>
